@font-face { 
  font-family: "OpenSansBold"; 
  src: url("../../fonts/OpenSans-Bold.woff2") format("woff2"),
       url("../../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: 700;
}

.page-body {
  @include clearfix;
  max-width: 960px;
  padding: 0;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  font-size: 12px;
  line-height: 18px;
  color: #89909d;
  background-color: #07080c;
}